:root {
  --aqua: #1abc9c;
  --orange: #e74c3c;
  --sky-blue: #3498db;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 62.5%;
}

/**************************

Utility Classes

**************************/
.fill-space {
  width: 100%;
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.absolute-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bg--aqua {
  background-color: var(--aqua, #16a085);
}

.bg--orange {
  background-color: var(--orange, #e74c3c);
}

.bg--skyblue {
  background-color: var(--sky-blue, #3498db);
}

.color--aqua {
  color: #16a085;
  color: var(--aqua, #16a085);
}

.color--orange {
  color: #e74c3c;
  color: var(--orange, #e74c3c);
}

.color--skyblue {
  color: #3498db;
  color: var(--skyblue, #3498db);
}


/**************************

Elements Styles

**************************/
.hero {
  width: 100%;
  height: 100%;
  background: url(assets/MyHeadshot.JPG) no-repeat center center;
  background-size: cover;
  position: fixed;
  z-index: 9;
}

.hero.show {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  transition: transform 0.4s, -webkit-transform 0.4s ease-in;
}

.hero.hide {
  -webkit-transform: translateY(-660px);
      -ms-transform: translateY(-660px);
          transform: translateY(-660px);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: transform 0.4s, -webkit-transform 0.4s ease-out;
}

.hero__text {
  width: auto;
  max-height: 140px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 30px;
  padding-bottom: 100px;
}

.text__name {
  color: #16a085;
  font-family: 'Maven Pro', sans-serif;
  font-size: 12vw;
}

.text__title {
  color: #e74c3c;
  font-family: 'Roboto Mono', arial;
  font-size: 6vw;
  font-weight: 300;
}

.button--floating {
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 10;
  border-radius: 50%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  -o-transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.button--floating:hover{
 -webkit-box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
         box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
}

.button--floating__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.button--floating__icon.rotate {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: transform 0.4s ease;
}

.content-wrapper {
  width: 300%;
  height: 100vh;
  overflow-x: hidden;
  transition: transform 0.4s linear;
}

.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
}

.header__nav {
  width: 100%;
  height: 100%;
}

.nav-items {
  width: 100%;
}

.nav-item {
  -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.nav-item__link {
  height: 100%;
  transition: background-color  0.4s ease-in;
}

.nav-item__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.content-item {
  width: 100%;
  position: relative;
}

#about-overlay, #contact-overlay, #skills-overlay {
  background: #fff;
}

/*displayed when section title is clicked*/
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  overflow-y: auto;
  transition: all 0.3s linear;
}

.overlay:target {
  opacity: 1;
  z-index: 8;
}

/*text or icons inside overlay presented when section title is clicked*/
.details {
  align-self: center;
  height: 100%;
  width: 82%;
  line-height: 1.4;
}

.close, a.open-overlay {
  color: #fff;
  text-decoration: none;
}

/*properties for X that closes detail overlay*/
.close {
  position: absolute;
  top: 55px;
  right: 0;
  padding-right: 25px;
  font-size: 480%;
  overflow: hidden;
}

/*section title*/
a.open-overlay {
  margin: 0 auto;
  font-family: 'Maven Pro', sans-serif;
  font-size: 650%;
  border-bottom: 5px solid transparent;
}

a.open-overlay:hover {
  cursor: pointer;
  border-bottom: 5px solid #fff;
}

#about-overlay a.close {
  color: #1abc9c;
}

.about {
  height: 100%;
  padding: 0px 10px;
}

.about__title {
  font-family: 'Maven Pro', sans-serif;
  font-size: 3.4rem;
  font-weight: 500;
  text-align: center;
}

.about__text {
  margin-top: 30px;
  font-family: 'Roboto Mono', arial;
  font-size: 1.8rem;
}

#skills-overlay a.close, #skills-details {
  color: #e74c3c;
}

.skills {
  padding-top: 100px;
}

.skill-item {
  margin-top: 20px;
}

.skill-item__label {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.8rem;
  padding: 5px;
  color: #e74c3c;
  color: var(--orange, #e74c3c);
}

.skill-item__level {
  color: #e74c3c;
  color: var(--orange, #e74c3c);
  font-size: 1.4rem;
}

#contact-overlay > a.close {
    height: 40%;
}

#contact-details {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#contact-icons {
  text-align: center;
}

.social-icon {
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.social-icon:hover {
  opacity: 1;
}

#contact-overlay a.close, #contact-details {
  color: #3498db;
}